@import 'reset';
@import 'vars';

body {
  font-family: sans-serif;
  background-color: rgb(223, 222, 222);
}

/* 
  // or you can import your own font
  @font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Regular.ttf');
  }

  body {
    font-family: 'Roboto', sans-serif;
  }
*/
